@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" action="@Url.Action("Login", "Account")">
    <label for="id">ID:</label>
    <input type="text" name="id" required />

    <label for="password">Password:</label>
    <input type="password" name="password" required />

    <button type="submit">Login</button>
</form>

<p>
    계정이 없으시다면? <a href="@Url.Action("Register", "AdminCMS")">회원가입</a>
</p>

